<a href="https://colab.research.google.com/github/Adwaithgs45/ICT-Assignments/blob/main/Data_Acquisition_Casestudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 #Load the dataset into a pandas DataFrame.
import pandas as pd

In [ ]:
df = pd.read_csv("/content/cricket_data.csv")

In [ ]:
#Display the first few rows of the DataFrame to understand its structure
df.head()

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,...,Matches_Bowled,Balls_Bowled,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls
0,2024,Ruturaj Gaikwad,2,0,61,46,30.5,51,119.61,0,...,2,0,0,0,0,0,0,0,0,0
1,2023,Ruturaj Gaikwad,16,1,590,92,42.14,400,147.5,0,...,16,0,0,0,0,0,0,0,0,0
2,2022,Ruturaj Gaikwad,14,0,368,99,26.29,291,126.46,0,...,14,0,0,0,0,0,0,0,0,0
3,2021,Ruturaj Gaikwad,16,2,635,101*,45.35,466,136.26,1,...,16,0,0,0,0,0,0,0,0,0
4,2020,Ruturaj Gaikwad,6,2,204,72,51,169,120.71,0,...,6,0,0,0,0,0,0,0,0,0

In [ ]:
#Print the summary statistics of the dataset
summary = df.describe()
summary

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,...,Matches_Bowled,Balls_Bowled,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls
count,1172,1172,1172,1172,1172,1172,1172,1172,1172,1172,...,1172,1172,1172,1172,1172,1172,1172,1172,1172,1172
unique,18,247,21,12,389,222,576,329,712,6,...,21,222,363,31,215,494,382,375,5,3
top,2023,Rohit Sharma,14,0,0,0,0,0,0,0,...,14,0,0,0,0,0,0,0,0,0
freq,162,17,170,421,179,148,171,131,127,1094,...,170,419,419,524,419,524,420,524,1052,1110

Q1. What is the size of the dataset? (Number of rows and columns)

In [ ]:
df.shape

(1172, 25)

Q2.What are the data types of each column?

In [ ]:
df.dtypes

Year                   object
Player_Name            object
Matches_Batted         object
Not_Outs               object
Runs_Scored            object
Highest_Score          object
Batting_Average        object
Balls_Faced            object
Batting_Strike_Rate    object
Centuries              object
Half_Centuries         object
Fours                  object
Sixes                  object
Catches_Taken          object
Stumpings              object
Matches_Bowled         object
Balls_Bowled           object
Runs_Conceded          object
Wickets_Taken          object
Best_Bowling_Match     object
Bowling_Average        object
Economy_Rate           object
Bowling_Strike_Rate    object
Four_Wicket_Hauls      object
Five_Wicket_Hauls      object
dtype: object

Q3.Are there any missing values in the dataset? If so, which columns have
missing values and how many?

In [ ]:
df.isnull()

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,...,Matches_Bowled,Balls_Bowled,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1167,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1168,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1169,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1170,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1171,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
missin_values_count = df.isnull().sum()
missin_values_count

Year                   0
Player_Name            0
Matches_Batted         0
Not_Outs               0
Runs_Scored            0
Highest_Score          0
Batting_Average        0
Balls_Faced            0
Batting_Strike_Rate    0
Centuries              0
Half_Centuries         0
Fours                  0
Sixes                  0
Catches_Taken          0
Stumpings              0
Matches_Bowled         0
Balls_Bowled           0
Runs_Conceded          0
Wickets_Taken          0
Best_Bowling_Match     0
Bowling_Average        0
Economy_Rate           0
Bowling_Strike_Rate    0
Four_Wicket_Hauls      0
Five_Wicket_Hauls      0
dtype: int64

Q4.What are the unique values in a categorical column of your choice? How
many unique values are there?

In [ ]:
unique_value = df['Player_Name'].unique()
print(unique_value)
df['Player_Name'].nunique()

['Ruturaj Gaikwad' 'Devon Conway' 'MS Dhoni' 'Ajinkya Rahane'
 'Shaik Rasheed' 'Sameer Rizvi' 'Avanish Rao Aravelly' 'Ravindra Jadeja'
 'Mitchell Santner' 'Moeen Ali' 'Shivam Dube' 'Nishant Sindhu'
 'Ajay Mandal' 'Rachin Ravindra' 'Shardul Thakur' 'Daryl Mitchell'
 'Rajvardhan Hangargekar' 'Deepak Chahar' 'Maheesh Theekshana'
 'Mukesh Choudhary' 'Mustafizur Rahman' 'Prashant Solanki'
 'Simarjeet Singh' 'Tushar Deshpande' 'Matheesha Pathirana' 'Rishabh Pant'
 'David Warner' 'Prithvi Shaw' 'Yash Dhull' 'Shai Hope' 'Swastik Chhikara'
 'Abishek Porel' 'Harry Brook' 'Ricky Bhui' 'Kumar Kushagra'
 'Tristan Stubbs' 'Axar Patel' 'Lalit Yadav' 'Mitchell Marsh'
 'Sumit Kumar' 'Pravin Dubey' 'Vicky Ostwal' 'Anrich Nortje'
 'Kuldeep Yadav' 'Jake Fraser-McGurk' 'Khaleel Ahmed' 'Ishant Sharma'
 'Jhye Richardson' 'Mukesh Kumar' 'Rasikh Dar' 'Shubman Gill'
 'David Miller' 'Matthew Wade' 'Wriddhiman Saha' 'BR Sharath' 'Robin Minz'
 'Kane Williamson' 'Abhinav Manohar' 'B. Sai Sudharsan' 'Darshan Nalkande'
 'Vijay Shankar' 'Azmatullah Omarzai' 'Shahrukh Khan' 'Jayant Yadav'
 'Rahul Tewatia' 'Mohammad Shami' 'Kartik Tyagi' 'Sushant Mishra'
 'Spencer Johnson' 'Noor Ahmad' 'Sai Kishore' 'Umesh Yadav' 'Rashid Khan'
 'Joshua Little' 'Mohit Sharma' 'Manav Suthar' 'Shreyas Iyer'
 'Rinku Singh' 'Rahmanullah Gurbaz' 'Nitish Rana' 'Sherfane Rutherford'
 'Phil Salt' 'K.S Bharat' 'Manish Pandey' 'Angkrish Raghuvanshi'
 'Anukul Roy' 'Ramandeep Singh' 'Andre Russell' 'Venkatesh Iyer'
 'Suyash Sharma' 'Mujeeb Ur Rahman' 'Dushmantha Chameera' 'Sakib Hussain'
 'Harshit Rana' 'Sunil Narine' 'Vaibhav Arora' 'Varun Chakaravarthy'
 'Mitchell Starc' 'Chetan Sakariya' 'KL Rahul' 'Devdutt Padikkal'
 'Quinton de Kock' 'Nicholas Pooran' 'Ashton Turner' 'Ayush Badoni'
 'Deepak Hooda' 'Krishnappa Gowtham' 'Krunal Pandya' 'Kyle Mayers'
 'Marcus Stoinis' 'Mohd. Arshad Khan' 'Prerak Mankad' 'Yudhvir Singh'
 'Arshin Kulkarni' 'David Willey' 'Shivam Mavi' 'Shamar Joseph'
 'Mayank Yadav' 'Mohsin Khan' 'Ravi Bishnoi' 'Yash Thakur' 'Amit Mishra'
 'Naveen Ul Haq' 'M. Siddharth' 'Rohit Sharma' 'Dewald Brevis'
 'Suryakumar Yadav' 'Ishan Kishan' 'N. Tilak Varma' 'Tim David'
 'Vishnu Vinod' 'Hardik Pandya' 'Arjun Tendulkar' 'Mohammad Nabi'
 'Romario Shepherd' 'Shams Mulani' 'Nehal Wadhera' 'Gerald Coetzee'
 'Anshul Kamboj' 'Naman Dhir' 'Shivalik Sharma' 'Jasprit Bumrah'
 'Kumar Kartikeya Singh' 'Piyush Chawla' 'Akash Madhwal' 'Luke Wood'
 'Dilshan Madushanka' 'Shreyas Gopal' 'Nuwan Thushara' 'Shikhar Dhawan'
 'Jitesh Sharma' 'Jonny Bairstow' 'Prabhsimran Singh' 'Liam Livingstone'
 'Harpreet Bhatia' 'Rilee Rossouw' 'Shashank Singh' 'Chris Woakes'
 'Vishwanath Pratap Singh' 'Ashutosh Sharma' 'Tanay Thyagarajann'
 'Atharva Taide' 'Rishi Dhawan' 'Sam Curran' 'Sikandar Raza'
 'Shivam singh' 'Prince Choudhary' 'Harpreet Brar' 'Arshdeep Singh'
 'Kagiso Rabada' 'Nathan Ellis' 'Rahul Chahar' 'Vidwath Kaverappa'
 'Harshal Patel' 'Sanju Samson' 'Jos Buttler' 'Shimron Hetmyer'
 'Yashasvi Jaiswal' 'Dhruv Jurel' 'Riyan Parag' 'Kunal Rathore'
 'Donovan Ferreira' 'Rovman Powell' 'Shubham Dubey' 'Tom Kohler-Cadmore'
 'Ravichandran Ashwin' 'Tanush Kotian' 'Abid Mushtaq' 'Avesh Khan'
 'Kuldeep Sen' 'Navdeep Saini' 'Prasidh Krishna' 'Sandeep Sharma'
 'Trent Boult' 'Yuzvendra Chahal' 'Adam Zampa' 'Nandre Burger'
 'Faf du Plessis' 'Rajat Patidar' 'Virat Kohli' 'Anuj Rawat'
 'Dinesh Karthik' 'Suyash S Prabhudessai' 'Will Jacks' 'Saurav Chuahan'
 'Glenn Maxwell' 'Mahipal Lomror' 'Karn Sharma' 'Cameron Green'
 'Swapnil Singh' 'Mayank Dagar' 'Manoj Bhandage' 'Akash Deep'
 'Alzarri Joseph' 'Lockie Ferguson' 'Mohammed Siraj' 'Yash Dayal'
 'Tom Curran' 'Reece Topley' 'Himanshu Sharma' 'Rajan Kumar'
 'Vyshak Vijay Kumar' 'Abdul Samad' 'Aiden Markram' 'Rahul Tripathi'
 'Glenn Phillips' 'Mayank Agarwal' 'Anmolpreet Singh' 'Heinrich Klaasen'
 'Upendra Singh Yadav' 'Nitish Kumar Reddy' 'Travis Head'
 'Abhishek Sharma' 'Marco Jansen' 'Washington Sundar' 'Sanvir Singh'
 'Wanindu Hasaranga' 'Pat Cummins' 'Akash Singh' 'Shahbaz Ahamad'
 'Bhuvneshwar Kumar' 'Fazalhaq Farooqi' 'Jaydev Unadkat' 'T Natarajan'
 'Umran Malik' 'Mayank Markande' 'Jhathavedh Subramanyan']

247

Q5.For a numerical column of your choice, calculate the mean, median, and
standard deviation.

In [ ]:
df['Runs_Scored'] = df['Runs_Scored'].replace('No stats', 0).astype(int)

In [ ]:
mean_median_standarddeviation = df['Runs_Scored'].agg(['mean','median','std'])

print(mean_median_standarddeviation)

mean      127.513652
median     38.000000
std       169.756421
Name: Runs_Scored, dtype: float64

Q6.: Identify any potential outliers in a numerical column of your choice. Explain
your approach.

In [ ]:
df['Five_Wicket_Hauls'] = df['Five_Wicket_Hauls'].replace('No stats', 0).astype(int)
column = 'Five_Wicket_Hauls'
Q1 = df[column].quantile(0.25)
Q3 = df[column].quantile(0.75)
IQR = Q3-Q1
lower_bound = Q1-1.5*IQR
upper_bound = Q3+1.5*IQR
outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
outliers

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,...,Matches_Bowled,Balls_Bowled,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls
55,2012,Ravindra Jadeja,19,2,191,48,15.91,151,126.49,0,...,19,210,273,12,5/16,22.75,7.8,17.50,0,1
208,2011,Ishant Sharma,12,5,4,1*,0.00,5,80.00,0,...,12,264,314,11,5/12,28.54,7.13,24.00,0,1
350,2023,Mohit Sharma,14,1,0,0*,0,1,0.00,0,...,14,265,361,27,5/10,13.37,8.17,9.81,2,1
416,2021,Andre Russell,10,2,183,54,26.14,120,152.5,0,...,10,114,188,11,5/15,17.09,9.89,10.36,0,1
452,2012,Sunil Narine,15,1,9,9*,9,7,128.57,0,...,15,355,324,24,5/19,13.5,5.47,14.79,1,1
459,2020,Varun Chakaravarthy,13,1,10,7*,5.00,15,66.66,0,...,13,312,356,17,5/20,20.94,6.84,18.35,0,1
575,2008,Amit Mishra,6,0,37,31,12.33,42,88.09,0,...,6,119,142,11,5/17,12.9,7.15,10.81,0,1
654,2022,Jasprit Bumrah,14,4,0,0*,0.00,8,0,0,...,14,320,383,15,5/10,25.53,7.18,21.33,0,1
682,2023,Akash Madhwal,8,0,0,0,0,0,0,0,...,8,153,219,14,5/5,15.64,8.59,10.93,1,1
769,2021,Arshdeep Singh,12,2,2,1*,0.00,3,66.66,0,...,12,248,342,18,5/32,19,8.27,13.77,0,1
793,2021,Harshal Patel,15,4,59,31,14.75,46,128.26,0,...,15,338,459,32,5/27,14.34,8.14,10.56,1,1
909,2022,Yuzvendra Chahal,17,1,5,5,5.00,8,62.50,0,...,17,408,527,27,5/40,19.52,7.75,15.11,1,1
920,2016,Adam Zampa,5,0,0,0*,0,1,0,0,...,5,102,115,12,6/19,9.58,6.76,8.5,0,1
1021,2019,Alzarri Joseph,3,2,15,15*,0.00,13,115.38,0,...,3,52,87,6,6/12,14.5,10.03,8.66,0,1
1110,2022,Wanindu Hasaranga,16,0,38,18,5.43,43,88.37,0,...,16,342,430,26,5/18,16.54,7.54,13.15,1,1
1127,2023,Bhuvneshwar Kumar,14,3,42,27,14.00,47,89.36,0,...,14,306,425,16,5/30,26.56,8.33,19.13,0,1
1133,2017,Bhuvneshwar Kumar,14,1,4,4*,4.00,4,100.00,0,...,14,314,369,26,5/19,14.19,7.05,12.07,0,1
1148,2017,Jaydev Unadkat,12,2,2,2*,0,5,40,0,...,12,275,322,24,5/30,13.41,7.02,11.45,0,1
1152,2013,Jaydev Unadkat,13,2,2,1,0,2,100,0,...,13,294,370,13,5/25,28.46,7.55,22.61,0,1
1163,2022,Umran Malik,14,3,4,3*,4,8,50,0,...,14,295,444,22,5/25,20.18,9.03,13.41,1,1

Q7.Find the correlation between numerical columns and discuss any interesting
relationships

In [ ]:
correlation = df['Runs_Scored'].corr(df['Five_Wicket_Hauls'])
correlation

-0.07544869571792853

Q8: Group the data by a categorical column and compute the aggregate statistics
(e.g., mean, sum) for a numerical column.

In [ ]:
grouped_df = df.groupby('Runs_Scored')['Runs_Scored'].agg(['mean', 'sum'])
grouped_df

              mean  sum
Runs_Scored
0              0.0    0
1              1.0   41
2              2.0   58
3              3.0   48
4              4.0   60
...            ...  ...
735          735.0  735
848          848.0  848
863          863.0  863
890          890.0  890
973          973.0  973

[388 rows x 2 columns]

Q9:: Based on your analysis, provide a brief summary of any insights or patterns
you discovered in the dataset

Through the analysis varies patterns including the mean, standard deviation, covarience, etc.. was studied.